//-- body
body {
  padding: 0;
  min-width: 1020px;
}

//-- header contents
.header > [class*='col-'] { padding-top: 40px; }
.description > h3 { padding-top: 20px; }
.description > h4 { padding-top: 40px; }

//-- main contents
.content {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

//-- footer contents
.footer { padding: 40px 20px; }
