//-- body
body { padding: 0; }

//-- header contents
.header > [class*='col-'] { padding-top: 40px; }
.description > h3 { padding-top: 20px; }
.description > h4 { padding-top: 40px; }

//-- main contents
.content {
  margin-top: 40px;
  height: 400px;
}

//-- footer contents
.footer { padding: 40px 20px; }
