@import 'mixin';
@import 'color';

//-- background-image
.background-img {
  z-index: -1;
  background-image: url('../images/old_mathematics.png');
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//-- header contents
.description { .text-shadow(0, 1px, 5px); }

//-- main contents
.content {
  background-color: white;
  .border-radius (10px);
  .drop-shadow(0, 0, 10px, 0, 0.5);
}

//-- footer contents
.footer { .text-shadow(0, 1px, 5px); }

//-- arrow
.arrow-body {
  margin-left: 20px;
  line-height: 200%;
  .text-shadow(0, 0, 5px, 0.25);
}
.arrow-red        { .arrow        (@red, white); }
.arrow-red:before { .arrow-before (@red); }
.arrow-red:after  { .arrow-after  (@red); }
.arrow-green        { .arrow        (@green, white); }
.arrow-green:before { .arrow-before (@green); }
.arrow-green:after  { .arrow-after  (@green); }
.arrow-blue        { .arrow        (@blue, white); }
.arrow-blue:before { .arrow-before (@blue); }
.arrow-blue:after  { .arrow-after  (@blue); }
.arrow-yellow        { .arrow        (@yellow, white); }
.arrow-yellow:before { .arrow-before (@yellow); }
.arrow-yellow:after  { .arrow-after  (@yellow); }
.arrow-orange        { .arrow        (@orange, white); }
.arrow-orange:before { .arrow-before (@orange); }
.arrow-orange:after  { .arrow-after  (@orange); }
.arrow-cyan        { .arrow        (@cyan, white); }
.arrow-cyan:before { .arrow-before (@cyan); }
.arrow-cyan:after  { .arrow-after  (@cyan); }

//-- ribbon
.ribbon-purple        { .ribbon        (lighten(@purple, 10%), white); }
.ribbon-purple:before { .ribbon-before ( darken(@purple, 10%)); }
.ribbon-purple:after  { .ribbon-after  ( darken(@purple, 10%)); }
