@import 'mixin';
@import 'color';

//-- background-image
.background-img {
  z-index: -1;
  background-image: url('../images/old_mathematics.png');
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//-- header contents
.description { .text-shadow(0, 1px, 5px); }

//-- main contents
.content {
  background-color: white;
  .border-radius (10px);
  .drop-shadow(0, 0, 10px, 0, 0.5);
}

//-- footer contents
.footer { .text-shadow(0, 1px, 5px); }

//-- arrow
.arrow-body {
  margin-left: 20px;
  line-height: 200%;
  .text-shadow(0, 0, 5px, 0.25);
}
.arrow-red        { .arrow        (@red, white); }
.arrow-red:before { .arrow-before (@red); }
.arrow-red:after  { .arrow-after  (@red); }
.arrow-green        { .arrow        (@green, white); }
.arrow-green:before { .arrow-before (@green); }
.arrow-green:after  { .arrow-after  (@green); }
.arrow-blue        { .arrow        (@blue, white); }
.arrow-blue:before { .arrow-before (@blue); }
.arrow-blue:after  { .arrow-after  (@blue); }
.arrow-yellow        { .arrow        (@yellow, white); }
.arrow-yellow:before { .arrow-before (@yellow); }
.arrow-yellow:after  { .arrow-after  (@yellow); }
.arrow-cyan        { .arrow        (@cyan, white); }
.arrow-cyan:before { .arrow-before (@cyan); }
.arrow-cyan:after  { .arrow-after  (@cyan); }
.arrow-lime        { .arrow        (@lime, white); }
.arrow-lime:before { .arrow-before (@lime); }
.arrow-lime:after  { .arrow-after  (@lime); }
.arrow-purple        { .arrow        (@purple, white); }
.arrow-purple:before { .arrow-before (@purple); }
.arrow-purple:after  { .arrow-after  (@purple); }

//-- ribbon
.ribbon-red        { .ribbon        (lighten(@red, 10%), white); }
.ribbon-red:before { .ribbon-before ( darken(@red, 10%)); }
.ribbon-red:after  { .ribbon-after  ( darken(@red, 10%)); }
.ribbon-green        { .ribbon        (lighten(@green, 10%), white); }
.ribbon-green:before { .ribbon-before ( darken(@green, 10%)); }
.ribbon-green:after  { .ribbon-after  ( darken(@green, 10%)); }
.ribbon-blue        { .ribbon        (lighten(@blue, 10%), white); }
.ribbon-blue:before { .ribbon-before ( darken(@blue, 10%)); }
.ribbon-blue:after  { .ribbon-after  ( darken(@blue, 10%)); }
.ribbon-yellow        { .ribbon        (lighten(@yellow, 10%), white); }
.ribbon-yellow:before { .ribbon-before ( darken(@yellow, 10%)); }
.ribbon-yellow:after  { .ribbon-after  ( darken(@yellow, 10%)); }
.ribbon-cyan        { .ribbon        (lighten(@cyan, 10%), white); }
.ribbon-cyan:before { .ribbon-before ( darken(@cyan, 10%)); }
.ribbon-cyan:after  { .ribbon-after  ( darken(@cyan, 10%)); }
.ribbon-lime        { .ribbon        (lighten(@lime, 10%), white); }
.ribbon-lime:before { .ribbon-before ( darken(@lime, 10%)); }
.ribbon-lime:after  { .ribbon-after  ( darken(@lime, 10%)); }
.ribbon-purple        { .ribbon        (lighten(@purple, 10%), white); }
.ribbon-purple:before { .ribbon-before ( darken(@purple, 10%)); }
.ribbon-purple:after  { .ribbon-after  ( darken(@purple, 10%)); }
